{% set id = id is defined ? id : '' %}

{% set new = new is defined ? new : '' %}
{% set show = show is defined ? show : '' %}
{% set edit = edit is defined ? edit : '' %}
{% set delete = delete is defined ? delete : '' %}
{% set back = back is defined ? back : '' %}
{% set back_to_list = back_to_list is defined ? back_to_list : '' %}

{% if back %}
    <a class="btn btn-primary" href="{{ app.request.headers.get('referer') }}">Back</a>
{% endif %}
{% if back_to_list %}
    <a class="btn btn-primary" href="{{ path('classroom_list') }}">Back</a>
{% endif %}
{% if new %}
    <a class="btn btn-primary" href="{{ path('classroom_new') }}">New</a>
{% endif %}
{% if show %}
    <a class="btn btn-primary" href="{{ path('classroom_show', {'id': id}) }}">Show</a>
{% endif %}
{% if edit %}
    <a class="btn btn-primary" href="{{ path('classroom_edit', {'id': id}) }}">Edit</a>
{% endif %}
{% if delete %}
    <a class="btn btn-danger" href="{{ path('classroom_delete', {'id': id}) }}">Delete</a>
{% endif %}
