<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SwivlClassroom</a>
        </div>
        <ul class="nav navbar-nav">
            <li class=""><a href="{{ path('classroom_list') }}">List of Classrooms</a></li>
            <li><a href="{{ path('classroom_new') }}">Add new Classroom</a></li>
        </ul>
    </div>
</nav>
