{% extends 'base.html.twig' %}

{% block body %}
    <div class="swl-update-list__block">
        <div class="swl-update-list__text">Show all</div>
        <div class="material-switch pull-right">
            <input id="showAll" class="js-ajax-update-list__btn" type="checkbox" checked/>
            <label for="showAll" class="label-primary"></label>
        </div>
    </div>
    <table class="table table-striped table-hover swl-table">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Date</td>
            <td>Active</td>
            <td>Actions</td>
        </thead>
        <tbody class="js-ajax-update-list__block">
            {% for classroom in classrooms %}
                <tr>
                    <td>{{ classroom.id }}</td>
                    <td>{{ classroom.name }}</td>
                    <td>{{ classroom.date|date('Y-m-d') }}</td>
                    {% set active = classroom.active ? "green" : "grey" %}
                    <td class={{ active }}>
                        <span class="glyphicon glyphicon-ok"></span>
                    </td>
                    <td>
                        {% include '@SwivlClassroom/components/buttons.html.twig' with {
                            'show': true,
                            'edit': true,
                            'id': classroom.id,
                        } %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).on('click', 'input.js-ajax-update-list__btn', function() {
            that = $(this);

            $.ajax({
                url:'{{ (path('ajax_classroom_list_update')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "showAll": that.is(":checked")
                },
                async: true,
                success: function (data) {
                    var html = '';
                    $.each(data, function (i, item) {
                        var urlShow = '' + item.id;
                        var urlEdit = '' + item.id + '/edit';

                        html += '<tr><td>' + item.id + '</td><td>' +
                            item.name + '</td><td>' +
                            item.date + '</td><td class=';

                        html += item.active == 1 ? '"green"' : '"grey"';

                        html +='><span class="glyphicon glyphicon-ok"></span>' +
                            '</td><td>';
                        html += ' <a class="btn btn-primary" style="margin-right: 4px;" href="' + urlShow + '">Show</a>' +
                            '<a class="btn btn-primary" href="' + urlEdit + '">Edit</a>' +
                            '</td><td>';
                    });

                    $('.js-ajax-update-list__block').html(html);
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .green {
            color: green;
        }
        .grey {
            color: lightgray;
        }
        .swl-table.table>tbody>tr>td, .swl-table.table>thead>tr>td {
            width: 20%;
        }

        .swl-update-list__block {
            position: relative;
        }

        .swl-update-list__text {
            position: absolute;
            right: 50px;
        }

        .material-switch > input[type="checkbox"] {
            display: none;
        }

        .material-switch > label {
            cursor: pointer;
            height: 0;
            position: relative;
            width: 40px;
        }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position:absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }
        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }
        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }
        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 20px;
        }
    </style>
{% endblock %}
