{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Date</td>
            <td>Active</td>
            <td>Actions</td>
        </thead>
        <tbody>
            <tr>
                <td>{{ classroom.id }}</td>
                <td>{{ classroom.name }}</td>
                <td>{{ classroom.date|date('Y-m-d') }}</td>
                {% set active = classroom.active ? "green" : "grey" %}
                <td class={{ active }}>
                    <span class="glyphicon glyphicon-ok"></span>
                </td>
                <td>
                    {% include '@SwivlClassroom/components/buttons.html.twig' with {
                        'delete': true,
                        'edit': true,
                        'back_to_list': true,
                        'id': classroom.id
                    } %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .green {
            color: green;
        }
        .grey {
            color: lightgray;
        }
    </style>
{% endblock %}
